# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
obj/
UserSettings/
Packages/com.unity.collab-proxy/

# Firebase SDK
Assets/Firebase/

# Firebase configs (DO NOT push to public repos)
Assets/Firebase Config/google-services.json
Assets/Firebase Config/GoogleService-Info.plist

# IDE and OS files
.vscode/
.idea/
.DS_Store
*.swp

# Cache and project files
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Crash logs
sysinfo.txt

# Mobile builds
*.apk
*.aab
*.ipa

# Firebase config
google-services.json
GoogleService-Info.plist

